@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 80%;
  margin: auto;
  padding: 3rem 0;
}

.title{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.comment-form {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-form input {
  width: 85%;
  height: 2.2rem;
  overflow: hidden;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8rem;
  resize: none;
}

.comment-form .comment-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #7E34F6;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
}

img {
  width: 35px;
  height: 35px;
  left: 49px;
  top: 91px;
  border-radius: 42.25px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 3rem 0;
}

#comments {
  margin: 2rem 0;
}

.comment-box {
  align-items: center;
  margin: 1rem 0;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.comment-header .comment-author {
  font-weight: 700;
  font-size: 1rem;
  margin-left: 1rem;
}

.comment-header .comment-date {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: #646464;
}

.comment-body {
  margin-left: 3.2rem;
}

.comment-actions {
  display: flex;
  align-items: center;
  margin-left: 3.2rem;
  margin-top: 0.7rem;
}

.comment-upvote{
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  color: #5d5d5d;
  margin-right: 0.5rem;
}

.comment-upvote-count {
  font-size: 0.8rem;
  font-weight: 700;
  color: #5d5d5d;
}

.comment-reply {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  color: #5d5d5d;
  margin-left: 1rem;
}

.comment-replies {
  margin-left: 3.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}